
#btn-cancelar {
    display: none;
}
#tabla-estados_de_inventarios thead tr th {
    font-size: 12px;
    text-align: center;
}
#tabla-estados_de_inventarios tbody tr td {
    font-size: 12px;
    text-align: center;
}
.container-td {
    cursor: pointer;
}