#tabla-ventas thead tr th {
    font-size: .85rem;
    text-align: center;
}

#tabla-ventas tbody tr td {
    font-size: .75rem;
}

.f-r {
    float: right;
    max-width: 800px;
    width: 100%;
}

.input-table {
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.td-actions {
    cursor: pointer;
    text-align: center;
    width: 100%;
}
