#tabla-clientes thead tr th {
    font-size: 12px;
    text-align: center;
}
#tabla-clientes tbody tr td {
    font-size: 12px;
    text-align: center;
}
#tabla-clientes tbody tr td input {
    background: transparent;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.a-cliente {
    color: #212529;
    text-decoration: none;
}
.td-actions {
    cursor: pointer;
}